figure,
figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

figcaption {
  max-width: 50%;
  color: var(--color__text__lv3);

  p {
    font-size: 1rem;
  }
}

@media (max-width: $breakpoint__sp--max) {
  figcaption {
    max-width: 75%;
  }
}
