<form class="contact-form" name="contact" netlify>
  <div class="contact-form__inner">
    <label for="name">Name <span>(Required)</span></label>
    <input type="text" name="name" placeholder="Akira Kurosawa" required>
  </div>
  <div class="contact-form__inner">
    <label for="email">Mail <span>(Required)</span></label>
    <input type="email" name="email" placeholder="akira@entaq.net" required>
  </div>
  <div class="contact-form__inner">
    <label for="message">Message <span>(Required)</span></label>
    <textarea name="message" id="message" rows="8" placeholder="Write feel free!" required></textarea>
  </div>
  <div class="contact-form__inner">
    <button type="submit">Submit -></button>
  </div>
</form>
