.layout--about {
  .block {
    #entaq_logo {
      display: inline;
      height: 2.15ex;
      margin-right: -0.2em;
      fill: var(--color__text__lv1);
      position: relative;
      top: 0.55ex;
    }
  }
}
