.block {
  display: flex;
  flex-direction: column;
  gap: var(--base-gap);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
    padding: var(--base-padding);
  }

  &__title {
    font-size: var(--font-size__lv1);
    font-weight: 600;
    line-height: 1;
    color: var(--color__text__lv5);
  }
}
