.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding: var(--base-padding);
  position: sticky;
  bottom: 0;
  z-index: 1000;
  // mix-blend-mode: difference;
  // mix-blend-mode: exclusion;
  // mix-blend-mode: luminosity;

  &__logo {
    display: flex;
    width: px2rem(128px);
    margin: 0;

    a {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      justify-content: center;

      #entaq_logo {
        flex: 1 0 0;
        fill: var(--color__text__lv1);
      }
    }
  }
}

.nav {
  display: flex;
}
